<%- include('../partials/head.ejs') %>

    <div class="row">
        <div class="col-2">
            <ul>
                <li>Client 1</li>
                <li>Client 2</li>
            </ul>
            <a href="/chat/create">Add</a>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-4">
                    <ul>
                        <li>User 1</li>
                        <li>User 2</li>
                    </ul>
                </div>
                <div class="col-8">
                    msg msg
                </div>
            </div>
        </div>
    </div>



<%- include('../partials/footer.ejs') %>

