<!DOCTYPE html>
<html lang="en">
<head>
    <% include('../partials/head.ejs') %>
</head>
<body class="container">
    asd
<main>
</main>

<footer>
    <% include('../partials/footer.ejs') %>
</footer>

</body>
</html>