<% include('../partials/head.ejs') %>

<form action="/register" method="post">
    <div>
        <label>Full name:</label>
        <input type="text" name="full_name"/>
    </div>
    <div>
        <label>Email:</label>
        <input type="text" name="email"/>
    </div>    
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Sign Up"/>
    </div>
</form>       


<% include('../partials/footer.ejs') %>

